<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OmniZenNotes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <OmniZenNotes.Properties.Settings>
            <setting name="RestoreBounds" serializeAs="String">
                <value>0,0,364,256</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="NoteBooks" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>{LocalApplicationData}\{AssemblyName}\{UserName}.oznotebook</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>#FFFFFFE0</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="OptionsExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UXSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="AutoSave" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Topmost" serializeAs="String">
                <value>False</value>
            </setting>
        </OmniZenNotes.Properties.Settings>
    </userSettings>
</configuration>