<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="file://X:\OPT\NuGet\packages" />
    <add key="user" value="file://C:\Users\157602\.nuget\packages" />    
  </packageSources>
</configuration>
